---
layout: subpage
title: Skills
---
<div class="skills">
    {% for skill in site.data.skills %}
        <h1 class="section_head headingBlock">{{ skill.title|upcase }}</h1>
        <div class="skills_content">
            {% for subskill in skill.skills %}
                <div class="skill floatLeft">
                    <div class="textBlock floatClear">{{ subskill.title }}</div>
                    <div class="progressbar">
                        <div class="pb{{ subskill.level }}"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>