/* MY WEBPAGE */

$red: #f2385a;
$pink: #f98096;
$brightgrey: #a6a6a6;
$grey: #9a9a9a;
$darkgrey: #3b3b3b;
$black: #252525;
$green: #e3f9f6;
$darkgreen: #10d4b6;

/* -----------Common styles---------- */

.textBlock, .headingBlock {
	color: $darkgrey;
	font-family: Century Gothic;
}

.header, .slider_content, .footer_content, .about, .skills, .references, .projects, .hobbies, .contact {
	width: 960px;
	margin: 0 auto;
}

.section_head {
	background-color: $red;
    border-radius: 5px;
    box-shadow: 0 0 0 15px white;
    color: white;
    font-size: 18px;
    font-weight: 900;
	margin: 0 auto;
	margin-top: -20px;
    padding: 7px 20px;
    text-align: center;
    width: 250px;
    z-index: 1;
}

.line {
	width: 100%;
	height: 1px;
	background-color: $grey;
}

/* ---------------Header--------------- */

.header {
	height: 75px;
	margin-top: 25px;
	
	.logo {
		margin-left: 20px;
		margin-bottom: 25px;
		color: $red;
		font-size: 32px;
		text-decoration: none;
	}
	
	.quote {
		margin-left: 90px;
		margin-top: 10px;
		color: $grey;
	}
	
	.logo_dream {
		width: 130px;
		height: 40px;
		margin-right: 30px;
		background: url("../images/logo.png") no-repeat;
		background-size: cover;
	}
	
	.language {
		display: none;
		margin-top: 10px;
		color: $darkgreen;
		
		.separator {
			margin-left: 5px;
			margin-right: 5px;
			margin-top: -2px;
			color: $darkgreen;
		}
	}
	
	.menu {
		height: 50px;
		background-color: $black;
		border-radius: 5px;
		
		a {
			padding: 15px 50px;
			color: white;
			border-left: 1px solid $darkgrey;
			text-decoration: none;
			
			&.first {
				border: none !important;
			}
			
			&:hover {
				color: $red;
			}
		}
	}
}

/* ---------------Slider-------------- */

.slider {
	height: 389px;
	margin-top: 20px;
	background: url("../images/home_slider_background_image.png") no-repeat scroll 5px -145px $darkgreen;
	
	.slider_line_top {
		height: 4px;
		background: url("../images/home_slider_line_top.png") repeat;
		position: relative;
		z-index: 1000;
	}
	
	.slider_content {
		height: 386px;
		margin-top: -4px;
	}
	
	.slider_line_bottom {
		height: 4px;
		background: url("../images/home_slider_line_bottom.png") repeat;
		position: relative;
		z-index: 1000;
	}
}

/* ---------------Footer--------------- */

.footer {
	background-color: $brightgrey;
	color: white;

	.footer_line_top {
		height: 4px;
		background: url("../images/footer_line_top.png") repeat;
	}
	
	.footer_content {
		overflow: hidden;
		
		.social {
			margin-top: 10px;
			font-size: 12px;
		
			.textBox {
				text-align: center;
			}
			
			a {
				display: block;
				margin: 5px;
				
				&:hover {
					opacity: 0.5;
				}
			}
		}
		
		.copyright {
			margin-top: 25px;
			font-size: 14px;
		}
	}

	.footer_line_bottom {
		height: 4px;
		background: url("../images/footer_line_bottom.png") repeat;
	}
}

/* ---------------About--------------- */

.about {
	margin-top: 35px;
	border-top: 1px solid $grey;
	
	.about_content {
		padding-bottom: 30px;
		overflow: hidden;
		
		.about_img {
			margin: 20px 0px 0px 30px;
		
			img {
				border-radius: 5px;
			}
		}
		
		.about_text {
			width: 575px;
			margin-left: 100px;
			margin-top: 20px;
			
			.textBlock {
				margin-top: 10px;
				font-size: 20px;
				color: $darkgrey;
			}

			a {
				font-size: 18px;
				color: $darkgrey;
				margin-top: 10px;
				display: block;
				float: left;
				clear: both;
				text-decoration: none;

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}	
}

/* ---------------Skills-------------- */

.skills {
	margin-top: 35px;
	border-top: 1px solid $grey;
	
	.skills_content {
		overflow: hidden;
		padding-bottom: 50px;
		
		.skills_left {
			width: 450px;
			margin-left: 30px;			
		}
		
		.skills_right {
			width: 450px;
			margin-left: 30px;			
		}
		
		.skill {
			margin-top: 10px;
			
			.textBlock {
				margin-left: 10px;
				font-size: 16px;
			}
			
			.progressbar {
				width: 400px;
				height: 30px;
				border: 1px solid $grey;
				border-radius: 5px;
				overflow: hidden;
				
				.pb1, .pb2, .pb3, .pb4 {
					height: 30px;
					background-color: $darkgreen;
				}
				
				.pb1 {
					width: 100px;
				}
				
				.pb2 {
					width: 200px;
				}
				
				.pb3 {
					width: 300px;
				}
				
				.pb4 {
					width: 400px;
				}
			}
		}
	}
}

/* ---------------References------------- */

.references {
	margin-top: 35px;
	border-top: 1px solid $grey;
	
	.references_content {
		padding-bottom: 50px;
		overflow: hidden;
		
		.references_left {
			width: 450px;
			margin-left: 30px;
		}
		
		.references_right {
			width: 450px;
			margin-left: 30px;
		}
	}
}

/* ---------------Projects------------- */

.projects {
	margin-top: 35px;
	border-top: 1px solid $grey;
	
	.projects_content {
		margin-top: 20px;
		padding-bottom: 50px;
		overflow: hidden;
		
		.projects_left {
			width: 450px;
			margin-left: 30px;
		}
		
		.projects_right {
			width: 450px;
			margin-left: 30px;
			
		}

		a {
			width: 400px;
			height: 300px;
			background-size: cover !important;	
		}

		.projects_cloudfarms {
			width: 860px;
			margin-left: 50px;
			margin-top: 30px;

			.cloudfarms {
				width: 860px;
				height: 330px;
				margin-top: 20px;
				background: url("../Gallery/Cloudfarms.png") no-repeat;
			}
		}


		.projects_agmpartners {
			width: 860px;
			margin-left: 50px;
			margin-top: 30px;

			.agmpartners {
				width: 860px;
				height: 538px;
				margin-top: 20px;
				background: url("../Gallery/AGMpartners.jpg") no-repeat;
			}
		}

		.seges {
			background: url("../Gallery/Seges.jpg") no-repeat;
		}

		.nabytok {
			background: url("../Gallery/Nabytok.jpg") no-repeat;
		}
		
		.luna {
			background: url("../Gallery/Luna.jpg") no-repeat;
		}

		.raj {
			background: url("../Gallery/Rajbyvania.jpg") no-repeat;
		}

		.esam {
			background: url("../Gallery/Esam.jpg") no-repeat;
		}

		.mcena {
			background: url("../Gallery/Mcena.jpg") no-repeat;
		}

		.game {
			background: url("../Gallery/game.png") no-repeat;
		}
		
		.edu {
			background: url("../Gallery/edu.png") no-repeat;
		}

		.pozor_revizor {
			width: 200px;
			margin-left: 100px;
			background: url("../Gallery/PozorRevizor.png") no-repeat;		
		}

		.pozor_revizor_logo {
			width: 50px;
			height: 50px;
			margin-top: 10px;
			margin-right: 20px;
			background: url("../Gallery/PozorRevizorLogo.png") no-repeat;		
		}

		.presentation {
			width: auto;
			height: auto;
			font-size: 18px;
			color: $darkgrey;
			margin-top: 10px;
			display: block;
			float: left;
			clear: both;
			text-decoration: none;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		.textBlock, .headingBlock {
			text-align: center;
		}
		
		&.adobe {
			
			img {
				margin-left: 2px;
				margin-right: 2px;
			}
			
			.textBlock {
				margin-top: 45px;
				font-size: 18px;
			}
		}
	}

	.commercial .projects_left, .commercial .projects_right {
		margin-bottom: 30px;
	}
}

/* ---------------Hobbies------------- */

.hobbies {
	margin-top: 35px;
	border-top: 1px solid $grey;
	
	.hobbies_content {
		margin-top: 20px;
		padding-bottom: 50px;
		overflow: hidden;

		.hobbies_text {
			width: 450px;
			margin-top: 20px;

			&.floatLeft {
				margin-right: 30px;
			}

			&.floatRight {
				margin-left: 30px;
			}

			.textBlock {
				margin-top: 10px;
			}
		}
	}
}

/* ---------------Contact------------- */

.contact {
	margin-top: 35px;
	border-top: 1px solid $grey;
	
	.contact_content {
		margin-top: 20px;
		padding-bottom: 20px;
		overflow: hidden;
		
		.contact_left {
			width: 450px;
			margin-left: 30px;
			
			.textBlock {
				height: 30px;
			}
		}	
		
		.contact_right {
			width: 450px;
			margin-left: 30px;
		
			.contact_social {
				height: 30px;
			
				img {
					margin-right: 20px;
				}

				.textBlock {
					margin-top: 2px;
				}
			}		
		}	
	}
}