<?php

require('header.php');

?>

<div class="contact">
	<h1 class="section_head headingBlock">Contact</h1>
	<div class="contact_content">
		<div class="contact_left floatLeft">
			<div class="textBlock floatClear">Milan Cák</div>
			<div class="textBlock floatClear">Lakšárska Nová Ves 454</div>
			<div class="textBlock floatClear">908 76 Lakšárska Nová Ves</div>
			<div class="textBlock floatClear">Slovak republic</div>
		</div>
		<div class="contact_right floatLeft">
			<div class="contact_social floatClear">					
				<a class="facebook floatLeft" href="https://www.facebook.com/milan.cak.3">
					<img class="imageElement" src="images/facebook.png"></img>
				</a>
				<div class="textBlock floatLeft">Facebook: Milan Cák</div>
			</div>
			<div class="contact_social floatClear">
				<a class="google floatLeft" href="https://plus.google.com/u/0/+MilanCák/about">
					<img class="imageElement" src="images/gmail.png"></img>
				</a>
				<div class="textBlock floatLeft">Gmail: milan.cak111@gmail.com</div>
			</div>
			<div class="contact_social floatClear">
				<a class="twitter floatLeft" href="https://twitter.com/CakMilan">
					<img class="imageElement" src="images/twitter.png"></img>
				</a>
				<div class="textBlock floatLeft">Twitter: CakMilan</div>
			</div>
			<div class="contact_social floatClear">
				<img class="imageElement floatLeft" src="images/skype.png"></img>
				<div class="textBlock floatLeft">Skype: milan_cak</div>
			</div>
			<div class="contact_social floatClear">
				<img class="imageElement floatLeft" src="images/mobile.png"></img>
				<div class="textBlock floatLeft">Phone number: +421 917 552 947</div>
			</div>				
		</div>
	</div>
</div>

<?php

require('footer.php');

?>