<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        
        <!-- Site Meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="sk">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="https://cakm.github.io/images/favicon.png">
        <link rel="icon" type="image/x-icon" href="https://cakm.github.io/images/favicon.png">
        <link rel="apple-touch-icon" href="https://cakm.github.io/images/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="https://cakm.github.io/images/favicon.png">
        <link rel="icon" type="image/png" href="https://cakm.github.io/images/favicon.png">

        <link rel="stylesheet" href="{{site.baseurl}}/styles/style.css" />
        <link rel="stylesheet" href="{{site.baseurl}}/styles/common-styles.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
    </head>

    <body>
        <header class="site-content">
            <div class="header-content">
                <a class="logo floatLeft" href="">{{ site.author }}</a>
                <div class="quote textBlock floatLeft">„Who wants to reach a distant target, has to take many small steps“</div>
                <div class="logo_dream floatRight"></div>
            </div>
        </header>
        <nav>
            <div class="menu site-content">
                <a class="first floatLeft" href="index">About me</a>
                <a class="floatLeft" href="skills">Skills</a>
                <a class="floatLeft" href="references">References</a>
                <a class="floatLeft" href="projects">Projects</a>
                <a class="floatLeft" href="hobbies">Hobbies</a>
                <a class="floatLeft" href="contact">Contact</a>
            </div>
        </nav>
        <main class="site-content">
        
            {{ content }}
        
        </main>
        <footer>
            <div class="footer_line_top"></div>
            <div class="footer_content site-content">
                <div class="social floatLeft">
                    <div class="textBox floatClear">CONTACT ME:</div>
                    <a class="facebook floatLeft" href="https://www.facebook.com/milan.cak.3">
                        <img class="imageElement" src="images/footer_facebook.png"></img>
                    </a>
                    <a class="google floatLeft" href="https://plus.google.com/u/0/+MilanCák/about">
                        <img class="imageElement" src="images/footer_google.png"></img>
                    </a>
                    <a class="twitter floatLeft" href="https://twitter.com/CakMilan">
                        <img class="imageElement" src="images/footer_twitter.png"></img>
                    </a>
                </div>
                <div class="copyright textBlock floatRight">{{ site.author }} 2013 © All rights reserved</div>
            </div>
            <div class="footer_line_bottom"></div>
        </footer>
    </body>
</html>