<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/styles/style.css" />
        <link rel="stylesheet" href="{{site.baseurl}}/styles/common-styles.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
    </head>

    <body>
        <header>
            <a class="logo floatLeft" href="index.php">Milan Cák</a>
            <div class="quote textBlock floatLeft">„Who wants to reach a distant target, has to take many small steps“</div>
            <div class="logo_dream floatRight"></div>
        </header>
        <nav>
            <a class="first floatLeft" href="index.php">About me</a>
            <a class="floatLeft" href="skills.php">Skills</a>
            <a class="floatLeft" href="references.php">References</a>
            <a class="floatLeft" href="projects.php">Projects</a>
            <a class="floatLeft" href="hobbies.php">Hobbies</a>
            <a class="floatLeft" href="contact.php">Contact</a>
        </nav>
        <main>
        
            {{ content }}
        
        </main>
        <footer>
            <div class="footer_line_top"></div>
            <div class="footer_content">
                <div class="social floatLeft">
                    <div class="textBox floatClear">CONTACT ME:</div>
                    <a class="facebook floatLeft" href="https://www.facebook.com/milan.cak.3">
                        <img class="imageElement" src="images/footer_facebook.png"></img>
                    </a>
                    <a class="google floatLeft" href="https://plus.google.com/u/0/+MilanCák/about">
                        <img class="imageElement" src="images/footer_google.png"></img>
                    </a>
                    <a class="twitter floatLeft" href="https://twitter.com/CakMilan">
                        <img class="imageElement" src="images/footer_twitter.png"></img>
                    </a>
                </div>
                <div class="copyright textBlock floatRight">MILAN CÁK © All rights reserved</div>
            </div>
            <div class="footer_line_bottom"></div>
        </footer>
    </body>
</html>