<?php

require('header.php');

?>

<div class="references">
	<h1 class="section_head headingBlock">References</h1>
	<div class="references_content">
		<div class="references_left floatLeft">
			<h2 class="headingBlock floatClear">Ing. Peter Šimún</h2>
			<h3 class="headingBlock floatClear">co-founder of company SEGES Ltd.</h3>
			<h4 class="headingBlock floatClear">Employer reference</h4>					
			<div class="textBlock floatClear">
				Milan Cák has been cooperating with our company since May 2013 on the position of the web-developer. 
				He has worked on creating dynamic websites for various companies. He got website design created by 
				graphic designer in Photoshop and his task was to program according to the pattern in our system Synapso 
				dynamic website or e-shop in Java backend and make frontend site in XML and in CSS, and later in XML and in SASS. 
				He has been working in a team of programmers and the result of their cooperation are for example these websites: 
				www.esam.sk  www.rajbyvania.sk  www.nabytok.sk  www.homey.sk<br>
				His work is precis, he shows patience in refining and testing sites. I appreciate the positive, flexible and 
				responsible approach to work, willingness to learn new things in his free time.
			</div>
		</div>
		<div class="references_right floatLeft">				
			<h2 class="headingBlock floatClear">Ing. Martin Butkovský</h2>
			<h3 class="headingBlock floatClear">special subjects teacher at SPŠE</h3>
			<h4 class="headingBlock floatClear">Teachers reference</h4>					
			<div class="textBlock floatClear">
				I taught Milan Cák these subjects: IT systems, programming and workshops. He also did after school activity 
				with me - programming in C. Milan has excellent learning results. Programming is his hobby, so he has 
				improved his skills in this area of a Professional level. He also successfully joined ZENIT competition in 
				programming in C and represented the school in other competitions. The profile of his personality is primarily 
				responsibility, diligence, honesty and discipline, loyalty, openness to new ideas, respect for people and 
				the environment. He likes helping weaker students. His personal positives include communication skills, 
				organizational skills, creativity, analytical thinking, good visualization, life optimism and sustained 
				effort of self-improvement.
			</div>
		</div>
	</div>
</div>

<?php

require('footer.php');

?>